{% extends "layouts/base.twig" %}

{% block body %}
        <h1>Bienvenue sur le Dashboard</h1>

        <section class="text-center">
            <h2>Informations générales</h2>
            <p>Bienvenue, {{ user.username }}!</p>
            <p>Email : {{ user.email }}</p>
        </section>
{% endblock %}
